/*@font-face {
  font-family: 'Proxima Nova';
  font-weight: 100;
  src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('../fonts/ProximaNova-Semibold.otf');
}*/

body {
/*  font-family: "Proxima Nova";*/
  background-color: #f5f5f5;
}

/*Home banner------------------------------------------>*/

.home_banner {
  position: relative;
/*  width: 100%;*/
  top: 0;
  left: 0;
}

.home_banner_text_container {
  position: absolute;
  background-color: #66c5c8;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
}

.home_banner_text {
  text-align: center;
  vertical-align: middle;
}

.inner > h1 {
  font-size: 40px;
  font-family: 'brandon_grotesquethin';
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 30px;
}

.inner > h2 {
  font-family: 'brandon_grotesquethin';
  font-size: 35px;
  line-height: 48.5410196625px;
  font-weight: 100;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #ffffff;
}

.middle_text {
  font-size: 25px;
  font-weight: 100;
  line-height: 32.36px;
  margin-top: 0;
  margin-bottom: 40px;
}

.text_bold{
  font-family: 'brandon_grotesquemedium';
  font-weight: 300;
}

/*<------------------------------Navbar------------------------>*/

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  min-height: 40px!important;
}

.navbar_menu_button{
  position: absolute;
  width: 20px;
  height: 2px;
  color: white;
  top: 0;
}


.navbar_menu_button{
  background-image: url('../images/mwnu_icon.svg');
}

/*<-------------------------------portfolio section------------------>*/

.section{
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  list-style: none;
  border: 0;
}

.section_title > h2{
  font-size: 16px;
  margin: 15px 0;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'brandon_grotesquebold';
  color: rgb(64, 68, 72);
}

.section_title > h3{
  max-width: 860px;
  margin: 25px auto;
  font-size: 34px;
  font-weight: 100;
  /*font-family: 'brandon_grotesquelight';*/
  font-family: 'brandon_grotesquethin';
  /*color: #7F8082;*/
  color: #323334;
  line-height: 55.0131556175px;
}

.grid {
  margin: 80px auto;
  max-width: 1080px;
  vertical-align: baseline;
  width: 100%;
}

.element{
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: 15px;
  width: 504px;
  height: 315px;
  text-align: center;
  cursor: pointer;
}

.grid > .element > figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  padding: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 24px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.element > p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-transform: uppercase;
  text-align: left;
  margin: 180px 0 0;
  font-size: 14px;
  font-family: "brandon_grotesquelight";
  display: none;
}


.about_section{
  background-color: #ffffff;
}

.footer_section{
  background-color: #21282c;
}

.foot_head > h2 {
  color: #969696;
}

.foot_head > h3 {
  color: #ffffff;
}

/* <------------------------------Buttons------------------------>

.home_banner_buttons {
  font-family: 'brandon_grotesque_regularRg';
  position: absolute;
  margin: 0 auto;
  border-radius:  2px;
width:100%;
  left: 0;
  right: 0;
  top: 75.5%;
}

.button_sayhi {
  border-style: solid;
  width: 100%;
  border-width: 1px;
  border-color: rgb(25, 159, 195);
  border-radius: 2px;
  background-color: rgba(102, 197, 200, 0);
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  color: rgb(25, 159, 195);
  text-align: center;
  margin-top: 35px;
}

.button_sayhi:hover{
  transition: background-color 0.2s ease-in 0s;
  color: rgba(255,255,255,1);
  background-color: rgba(25,159,195,.8);
}

.button_sayhi:active, .button_viewmore:active{
  outline-color: transparent;
}

.button_right{
  text-align: right;
}


.button_viewmore{
  border-style: solid;
  width: 100%;
  border-width: 1px;
  border-color: rgb(40, 190, 146);
  border-radius: 2px;
  background-color: rgba(102, 197, 200, 0);
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  color: rgb(46, 190, 146);
  text-align: center;
  margin-top: 35px;
}

.button_viewmore:hover {
  transition: background-color 0.2s ease-in 0s;
  color: rgba(255,255,255,1);
  background-color: rgba(46,190,146,.8);
}
 */

@media screen and (max-width: 768px) {
  .inner > h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .inner > h2 {
    font-size: 25px;
  }

/*   .home_banner_buttons{
  width:100%;
  top: 85%;
  padding: 10px 10px 10px 10px;
}

.button_sayhi{
  margin-bottom: 10px;
}

.button_sayhi, .button_viewmore {
  width: 100%!important;
  font-size: 16px;
  line-height: 56px;
  margin-top: 0;
} */





}

@media (max-width: 1100px) and (min-width: 601px){
  .grid{
    margin: 60px auto;
    max-width: 946px;
  }

  .element{
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 15px;
    width: 440px;
    height: 271px;
    text-align: center;
    cursor: pointer
  }

  .grid > .element > figcaption{
    padding: 0;
    position: absolute;
    color: #7F8082;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    padding: 20px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: visible;
  }

  .grid > .element > p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    text-align: left;
    margin: 180px 0 0;
    font-size: 14px;
  }
}

@media only screen and (max-width: 601px) {

  .element{
    height: 220px;
  }

  .section_title > h2 {
    margin: 25px 50px 0;
  }

  .section_title > h3 {
    max-width: 560px;
    margin: 15px 50px 25px;
    padding: 0;
    text-align: left;
  }

  .grid{
    margin: 50px;
    max-width: 480px;
  }

  .element > p{
    display: block;
  }

  .section_title > h2{
    margin: 25px 50px 0;
  }


  .section_title > h3{
    margin: 15px 50px 25px
  }

  .section{
    text-align: left;
    left: 0;
    padding: 90px 0
  }

  .section_title > h3 {
    font-size: 26px;
    line-height: 36px;
  }

  .grid > .element{
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 0 30px;
    padding: 0;
    width: 380px;
    height: 220px;
    text-align: left;
    cursor: pointer;
    background: none!important;
  }

  .grid > .element > img {
    width: 300px;
    height: 164px;
    min-width: 300px;
    min-height: 164px;
    max-width: 300px;
    max-height: 164px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .element{
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 0 30px;
    padding: 0;
    width: 380px;
    height: 300px;
    text-align: left;
    cursor: pointer;
    background: none!important;
  }

}
