.command-thumb{
	background-image: url('../img/command/card.png');
}

.hero-command{
	height: 100vh;
	// background-image: linear-gradient(134deg, rgba(20,48,62,1) 0%, rgba(11,33,46,1) 100%);
	background-color: #14303E;
}

.command-image{
	position: absolute;
  bottom: 0;
  left: 44%;
}

.command-content h1{
	/* Social Media Command: */
	font-family: $sourcesans;
	font-weight: 900;
	font-size: 65px;
	color: #FFFFFF;
	letter-spacing: -2.03px;
	line-height: 71px;
	margin: 20px 0;
}

.command-content p{
	font-family: SourceSansPro-LightIt;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: -0.4px;
	line-height: 35px;
	text-shadow: 0 2px 0 rgba(0,0,0,0.15);
	margin: 0 0 100px 0;
}

.command-button{
	background-color: #D56969;
	color: $white;
}

.command-1{
	background-color: #F8F8F8;
	padding: 100px 0;
}

.command-2{
	padding: 100px 0;
	background-color: #222222;
}

.command-3{
	padding: 100px 0;
	background-color: #D56969;
}

.command-5{
	background-image: linear-gradient(-134deg, #14303E 0%, #0B212E 100%);
	padding: 100px 0 0 0;
}

.command-button:hover,.command-button:focus{
	background-color: $dark-grey;
}

.command-1 h1, .command-2 h1, .command-3 h1{
	font-family: $sourcesans;
	font-weight: 900;
	font-size: 36px;
	color: #D56969;
	letter-spacing: -2.03px;
	line-height: 71px;
	margin: 0 0 38px 0;
}

.command-3 h1, .command-5 h1{
	color: $white;
}

.command-5 h1{
	font-size: 20px;
	font-family: $sourcesans;
	font-weight: 900;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0 0 43px 0;
}

.command-5 .nudge{
	transform: translateY(-200px);
}

.command-1 p, .command-2 p, .command-3 p, .command-5 p{
	font-family: $sourcesans;
	font-weight: 200;
	font-size: 18px;
	color: #191919;
	letter-spacing: 0;
	line-height: 34px;
	margin: 0 0 0 0;
}

.command-2 p, .command-3 p, .command-5 p{
	color: $white;
}

.command-1 img{
	margin-bottom: 50px;
}

.command-2 img{
	margin-bottom: 60px;
}

.command-4 img{
	margin: 60px 0 0 0;
}

.command-5 p{
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 34px;
	margin: 0;
}

.command-1 h4{
	font-family: $sourcesans;
	font-weight: 900;
	font-size: 20px;
	color: #D56969;
	margin: 100px 0 35px 0;
}