.hero-center{
	height: 100vh;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.hero-image{
	// height: 100vh;
	// display: -ms-flexbox;
	// display: -webkit-flex;
	// display: flex;

	// -ms-flex-align: bottom;
	// -webkit-align-items: bottom;
	// -webkit-box-align: bottom;

	// align-items: bottom;
	// background-image: url('../img/timewinder/landing-phone.png');
	// background-repeat: no-repeat;
	// background-position: bototm;
}