.nav{
	position: absolute;
	margin-top:	20px;
}


.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 0 30px 0 0;
    text-decoration: none;
		opacity: 0.5;
		font-family: $worksans;
		font-weight: 500;
		font-size: 14px;
		color: $white;
		letter-spacing: 0;
		transition: opacity 0.3s cubic-bezier(.25,.8,.25,1);

}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    // background-color: #111;
    // color: #fff;
    opacity: 1;
}

.nav-dark li a{
  color: $dark-grey;
}