/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased !important;
    /*-webkit-transition: all 0.2s ease-out;*/

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#work h1, #about-me h1, #contact-me h1{
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
} 






.landing-background{
  height: 100vh;
  background-color: rgb(157, 17, 36);
  position: relative;
  overflow: hidden;
}

.landing-background:before
{
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url(../img/background.jpg);
  box-shadow: inset -7px 0px 9px 0px rgba(0, 0, 0, 0.15);
  background-size: cover;
  -webkit-animation: imageAnimation 36s linear infinite;
  -moz-animation: imageAnimation 36s linear infinite;
  -o-animation: imageAnimation 36s linear infinite;
  -ms-animation: imageAnimation 36s linear infinite;
  animation: imageAnimation 36s linear infinite;
}

#home-banner, #greeting-message{
/*  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 0s;*/
}

/*#home-banner{
  -webkit-transition-timing-function: cubic-bezier(0.605, 0.020, 1.000, 0.480); 
}*/

#greeting-message{
  -webkit-transition-delay: 0s;
}



.right-half{
  padding: 7.875rem 0;
  height: 100vh;
}


.pattern{
  background-image: url(../img/marble.png);

}

#landing-page{
  /*position: fixed;*/
  width: 100%;
}

#section-2{
  position: fixed;
  width: 100%;
  transform: translateX(-100%);
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 0s;
}

#landing-page p, #section-2 h2{
  font-size:  1.5rem;
  color: #a1a1a1;
  line-height: 3.375rem;
  letter-spacing: 0.3125rem;  
  font-weight:  700;
}

#landing-page p span, #section-2 h2{
  color: #424242;
}

.btn-general{
  border: 0;
  cursor: pointer;
  font: inherit;
  outline: 0;
  /*-webkit-transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);*/

}

.btn-general:active{
  transform: translateY(3px)!important;
  }

.btn-primary{
  height: 2.625rem;
  background-color: #313131;
  color: #f4f4f4; 
  padding: 0 1.75rem;
  -webkit-transition-delay: 0s;
  width: 100%;
}

.btn-chomu{
  height: 2rem;
  line-height: 1rem;
  padding: 0;
  width: 100%;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 800;
  background-color: #bda690;
  /*margin: 1.625rem 0 0 0;*/
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-chomu:hover, .btn-chomu:active, .btn-chomu:focus{
  background-color: #9d1124!important;
}

.btn-secondary{
  height: 2.625rem;
  background-color: transparent;
  border: 1px solid #313131; 
  padding: 0 1.75rem;
  margin-left: 1rem;
  -webkit-transition-delay: 0.05s;
  width: 100%;

}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{
  border: 1px solid #9d1124;
  background-color: rgba(157, 17, 36, 0.03);
  color: #9d1124; 
}

.button-strip{
  margin-top: 3rem;
}


/*-------------------------------------projects section-----------------------------------------*/

#work{
  text-align: center;
  position: relative;
  width: 100%;
}


.section-padding {
  padding: 9.125rem 0;
}


#work h3{
  font-size: 1.125rem;
  font-weight: 400;
  margin: 4.125rem 0 0 0;
}

.underline-center:before{
  content: "";
  position: absolute;
  top: 1.3125rem;
  height: 0.125rem;
  width: 6.375rem;
  background-color: #9d1124;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 1.25rem;
} 

/*---------------------------------------------main page project box----------------------------------- */

.project-box-out{
  height: 25.625rem;
  background-size: 150%;
  background-position: center;
  margin-top: 2.375rem;
/*  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);*/
  background-position: center;
  background-repeat:  no-repeat;  

}

.project-box-out:hover{
/* -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: background-position 0.15s ease;
  -moz-transition: background-position 0.15s ease;
  -ms-transition: background-position 0.15s ease;
  -o-transition: background-position 0.15s ease;
  transition: background-position 0.15s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
  /*background-size: 108%;*/
}

.project-1{
  background-image: url(../img/project1-bg.jpg);
}

.project-2{
  background-image: url(../img/bncf-bg.jpg);
}

.project-box-in{
  background-color: #f5f5f5;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 5.125rem;
}

.project-box-in h2{
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 1rem;
  margin: 0;
}

.project-box-in p{
  margin-top: 1.5rem;
}


/*---------------------------------animation backgrounds-----------------------------------------*/

.sokasu{
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100vh;
  
}

.sokasu:before
{
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url(../img/1.jpg);
  background-size: cover;
  -webkit-animation: imageAnimation 36s linear infinite;
  -moz-animation: imageAnimation 36s linear infinite;
  -o-animation: imageAnimation 36s linear infinite;
  -ms-animation: imageAnimation 36s linear infinite;
  animation: imageAnimation 36s linear infinite;
}


@-webkit-keyframes imageAnimation { 
  0% {
      -webkit-animation-timing-function: ease-in;
  }
  8% {
      -webkit-transform: scale(1.05);
      -webkit-animation-timing-function: ease-out;
  }
  17% {
      -webkit-transform: scale(1.1) rotate(3deg);
  }
  25% {
      -webkit-transform: scale(1.1) rotate(3deg);
  }
  100% {}
}
@-moz-keyframes imageAnimation { 
  0% {
      
      -moz-animation-timing-function: ease-in;
  }
  8% {
      
      -moz-transform: scale(1.05);
      -moz-animation-timing-function: ease-out;
  }
  17% {
      
      -moz-transform: scale(1.1) rotate(3deg);
  }
  25% {
      
      -moz-transform: scale(1.1) rotate(3deg);
  }
  100% { }
}
@-o-keyframes imageAnimation { 
  0% {
      
      -o-animation-timing-function: ease-in;
  }
  8% {
      
      -o-transform: scale(1.05);
      -o-animation-timing-function: ease-out;
  }
  17% {
      
      -o-transform: scale(1.1) rotate(3deg);
  }
  25% {
      
      -o-transform: scale(1.1) rotate(3deg);
  }
  100% { }
}
@-ms-keyframes imageAnimation { 
  0% {
      
      -ms-animation-timing-function: ease-in;
  }
  8% {
      
      -ms-transform: scale(1.05);
      -ms-animation-timing-function: ease-out;
  }
  17% {
      
      -ms-transform: scale(1.1) rotate(3deg);
  }
  25% {
      
      -ms-transform: scale(1.1) rotate(3deg);
  }
  100% { }
}
@keyframes imageAnimation { 
  0% {
      
      animation-timing-function: ease-in;
  }
  8% {
      
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }
  17% {
      
      transform: scale(1.1) rotate(3deg);
  }
  25% {
      
      transform: scale(1.1) rotate(3deg);
  }
  100% { }
}




/*------------------delete fonts pls------------------------*/

@font-face {
    font-family: 'Brandon grotesque', sans-serif;
    font-weight: 700;
    src: url(../fonts/Brandon_bld.otf);
}

@font-face {
    font-family: 'Brandon grotesque', sans-serif;
    font-weight: 400;
    src: url(../fonts/Brandon_reg.otf);
}

@font-face {
    font-family: 'Brandon grotesque', sans-serif;
    font-weight: 300;
    src: url(../fonts/Brandon_light.otf);
}

/*------------------delete above ffonts------------------------*/

h1, h2, h3, h4, h5, h6, p, body, button{
  font-family: 'Brandon grotesque';
  color: #1e1e1e;
}
body{
  background-color: #f4f4f4;
  color: #1e1e1e;
}

.row{
  /*max-width: 100%;*/
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 40.063em) {
  
  html{
    font-size: 0.875rem;
  }

  .btn-secondary{
    margin-left: 0;
  }

  .right-half {
    padding: 6.875rem 0;
  }

  .section-padding{
    padding-top: 2rem;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}




/* ==========================================================================
   Animations
   ========================================================================== */

@-webkit-keyframes MOVE-BG {
   from {
     -webkit-transform: translateX(0);
   }
   to { 
     -webkit-transform: translateX(-187%);
   }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}