/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, body{
  font-family: 'Lato', sans-serif;
}

section{
  padding: 6.25rem 1.25em;
}

#back-top {
  position: fixed;
  bottom:1.25em;
  right: 2%;
  z-index: 100; 
}


 /*Hero image*/
 .hero {
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.hero p:before {
  content: '';
  position: absolute;
  /*top: 0;*/
  right: 0;
  bottom: -30%;
  left: 50%;
  -webkit-transform : translateX(-50%);
  -moz-transform : translateX(-50%);
  -ms-transform : translateX(-50%);
  -o-transform : translateX(-50%);
  width: 6.875rem;
  height: 0.1875rem;
  background-color: #e08626;
}
.hero .intro {
  /*padding: 3rem;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}
.hero h1 {
  color: #f8f8f8;
  font-size: 3.75rem;
  line-height: 6.25rem;
  margin-bottom: 2.5rem;
  margin-top: 0;
  font-weight: 300;
  text-align: center; 
}
.hero p {
  color: #f8f8f8;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  text-align: center;
}

.intro-section{
  color: #292929;
}



.intro-section p{
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 6.25rem;
}

.intro-section h2{
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-style: italic;
  text-align: center;
  margin-top: 4.375rem;
}

.quote{
  height: 5rem;
  position: relative;
  left: 50%;
  -webkit-transform : translateX(-50%);
  -moz-transform : translateX(-50%);
  -ms-transform : translateX(-50%);
  -o-transform : translateX(-50%);
}


.about-us{
  background: url(../img/bg-about.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.title{
  font-weight: 300;
  font-size: 2.5rem;
  color: #f8f8f8;
  text-align: center;
  margin: 0;
}

.about-us p{
  color: #f8f8f8;
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 5rem;
  line-height: 2.5rem;
  margin-bottom: 0px;

}
.title:after {
  content:"";
  position: absolute;
  right: 0;
  margin-top: 1.7em;
  left: 50%;
  -webkit-transform : translateX(-50%);
  -moz-transform : translateX(-50%);
  -ms-transform : translateX(-50%);
  -o-transform : translateX(-50%);
  width: 6.875rem;
  height: 0.1875rem;
  background-color: #e08626;
}

.about-us h3{
  font-size: 1.875rem;
  color: #f8f8f8;
  line-height: 2.5rem;
  font-weight: 400;
  /*text-align: center;*/
  margin: 8.75rem 0 3.75rem 0;
}

.round-thin{
  border: 0.1875rem solid rgb(224, 134, 38);
  background-color: transparent;
  color: rgb(224, 134, 38);
  font-size: 0.9375rem;
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  left: 50%;
  -webkit-transform : translateX(-50%);
  -moz-transform : translateX(-50%);
  -ms-transform : translateX(-50%);
  -o-transform : translateX(-50%);
}

.round-thin:hover, .round-thin:active, .round-thin:focus{
  background-color: rgb(224, 134, 38);
  color: #f8f8f8;
}

.contact{
  background-color: #0c0c0c;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media only screen and (min-width: 35em) {

 }

 @media print,
 (-o-min-device-pixel-ratio: 5/4),
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 120dpi) {

 }

 @media only screen and (max-width: 40em) {
  .hero h1{
    font-size: 2.75rem;
    line-height: 4.75rem;
  }

  .hero p{
    font-size: 1.5rem;
    line-height: 1.62rem;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* ==========================================================================
   Helper classes
   ========================================================================== */

   .hidden {
    display: none !important;
    visibility: hidden;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .invisible {
    visibility: hidden;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1;
  }

/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }